rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /years/{year} {
      match /stages/{stage} {
        allow read;
        match /participants/{participant} {
          allow read;
          allow create, update: if request.auth != null && request.auth.uid == participant;
        }
      }
    }
    match /users/{uid} {
      allow get;
      allow read, create, update: if request.auth != null && request.auth.uid == uid;
      match /personal/contacts {
        allow update: if request.auth != null &&
          request.auth.uid == uid &&
          request.resource.data.isAdmin == resource.data.isAdmin;
        allow create: if request.auth != null &&
          request.auth.uid == uid &&
          !('isAdmin' in request.resource.data);
        allow get;
        allow get: if request.auth != null && (request.auth.uid == uid || get(/databases/$(database)/users/$(request.auth.uid)/personal/contacts).data.isAdmin == true);
      }
    }
  }
}