@import '../../colors.scss';

a {
  color: $grey;
  margin: 1em 0 0;
  display: inline-block;
}

.openClass {
  ::ng-deep {
    h2 { color: $prime; }
    tr:nth-child(2) { background-color: unquote($prime + "80"); }
    tr:nth-child(3) { background-color: unquote($prime + "4D"); font-weight: bold; color: $dark-grey;}
    tr:nth-child(4) { background-color: unquote($prime + "25"); font-weight: bold; color: $dark-grey;}
    tr:nth-child(5) { background-color: unquote($prime + "15"); font-weight: bold; color: $dark-grey;}
  }
}
.standardClass {
  ::ng-deep {
    h2 { color: $success; }
    tr:nth-child(2) { background-color: unquote($success + "80"); }
    tr:nth-child(3) { background-color: unquote($success + "4D"); font-weight: bold; color: $dark-grey;}
    tr:nth-child(4) { background-color: unquote($success + "25"); font-weight: bold; color: $dark-grey;}
    tr:nth-child(5) { background-color: unquote($success + "15"); font-weight: bold; color: $dark-grey;}
  }
}
.womenClass {
  ::ng-deep{
    h2 { color: $accent; }
    tr:nth-child(2) { background-color: unquote($accent + "80"); }
    tr:nth-child(3) { background-color: unquote($accent + "4D"); font-weight: bold; color: $dark-grey;}
    tr:nth-child(4) { background-color: unquote($accent + "25"); font-weight: bold; color: $dark-grey;}
    tr:nth-child(5) { background-color: unquote($accent + "15"); font-weight: bold; color: $dark-grey;}
  }
}