.stage-content {
  margin: 0 1em;
  .links {
    display: flex;
    a {
      margin-right: 20px;
    }
  }
  .post {
    padding: 2em 1em;
    background-color: #f8f8f8;
  }
  .details {
    margin-top: 1em;
    display: flex;
    @media only screen and (max-width: 600px) {
      flex-flow: column-reverse;
    }
    .info {
      display: flex;
      flex-direction: column;
      div {
        margin-bottom: 1em;
      }
    }
  }
  .container {
    max-width: 800px;
  }
}
#google_map {
  width: 300px;
  height: 300px;
  margin-right: 1em;
}
#google_map_appended {
  height: 300px;
}