@import '../../colors.scss';
.stage-content {
  margin: 0 1em;
  .container {
    max-width: 860px;
  }
  .stages {
    margin-top: 1em;
    padding: 0;
    background-color: white;
    color: black;
    align-items: baseline;
    @media only screen and (max-width: 600px) {
      flex-flow: wrap;
    }
    a {
      color: $dark-grey;
      padding: 0.4em;
      font-size: 1.2em;
      &.active-link {
        font-weight: bold;
      }
      &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
      }
      &.cancelled {
        text-decoration: line-through;
      }
      &.blink {
        &::after {
          content: "🚀";
          animation: blink-animation 1s steps(5, start) infinite;
        }
      }
    }
    

    @keyframes blink-animation {
      50% {
        opacity: 0.5;
        color: $light-grey;
      }
      100% {
        color: $prime;
      }
    }
  }
  .links {
    display: flex;
    align-items: baseline;
    a {
      margin-right: 20px;
      text-decoration: none;
      color: $prime;
      opacity: 0.8;
      &.active-link {
        font-weight: bold;
        opacity: 0.9;
      }
      &:hover {
        opacity: 1;
      }
    }
    .registration {
      font-weight: 800;
      font-size: 0.8em;
      color: $success;
      outline: none;
      cursor: pointer;
    }
    .cancelled {
      font-weight: 800;
      font-size: 0.8em;
      color: $error;
    }
  }
  .post {
    padding: 2em 1em;
    background-color: #f8f8f8;
  }
  .details {
    margin-top: 1em;
    display: flex;
    @media only screen and (max-width: 600px) {
      flex-flow: column-reverse;
    }
    .info {
      &::before {
        background-image: url('../../assets/XClogo.png');
        background-repeat: no-repeat;
        background-size: 300px;
        opacity: 0.05;
        content: ' ';
        display: block;
        position: absolute;
        width: 300px;
        height: 300px;
        z-index: 1;
      }
      .part {
        width: 7em;
        font-weight: bold;
        color: $dark-grey
      }
      td {
        margin: 0.5em 0.5em;
        display: inline-block;
      }
    }
  }

}
#google_map {
  width: 300px;
  height: 300px;
  margin-right: 1em;
}
#google_map_appended {
  height: 300px;
}
.hidden {
  visibility: hidden;
  display: none;
}