.stage-content {
  .details {
    margin-top: 1em;
    display: flex;
    .useful {
      display: flex;
      flex-direction: column;
      height: 300px;
      div {
        margin-bottom: 1em;
      }
    }
  }

  .infos {
    display: flex;
    a {
      margin-right: 20px;
    }
  }
  .description {
    max-width: 800px;
  }
}
#google_map {
  width: 300px;
  height: 300px;
  margin-right: 1em;
}
#google_map_appended {
  height: 300px;
}