@import '../../colors.scss';

:host {
  display: flex;
  a {
    height: max-content;
  }
  ::ng-deep .r-form {
    border: none !important;
    box-shadow: none !important;
  }
  .content {
    display: flex;
    align-items: baseline;
    width: 100%;
    @media only screen and (max-width: 600px) {
      flex-flow: column-reverse;
    }

    @media only screen and (max-width: 600px) {
      .table_wrap {
        width: 100%;
        .tab {
          width: 100%;
        }
      }
    }
    
    .participate_option {
      @media only screen and (max-width: 600px) {
        margin-top: 2em;
      }
      margin: auto;
      .join {
        display: flex;
        flex-flow: column;
        label {
          margin: 0.5em;
        }
      }
      .good-luck {
        color: $prime;
      }
    }
  }
}


/* List */
ul {
  counter-reset: index;  
  padding: 0;
  max-width: 300px;
}

/* List element */
li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  box-sizing: border-box;
}


/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 50px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom,$white-grey, $prime);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}