:host {
  display: flex;
  a {
    height: max-content;
  }
  ::ng-deep .r-form {
    border: none !important;
    box-shadow: none !important;
  }
  .content {
    display: flex;
    align-items: baseline;
  }
}