.container {
  min-height: 100%;
  ul {
    display: flex;
    align-items: baseline;
  }
  .nav {
    padding: 0;
    background-color: white;
    color: black;
  }

  .stages {
    @media only screen and (max-width: 600px) {
      flex-flow: wrap;
    }
    .active-link {
      font-weight: bold;
    }
  }

  .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }

  .cancelled {
    text-decoration: line-through;
  }
  
  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {

    50% {
      opacity: 0.5;
      color: rgb(121, 219, 134);
    }
    75% {
      color: rgb(24, 202, 24);
    }
    100% {
      color: forestgreen;
    }
  }
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a {
    font-size: 0.8em;
    color: lightsteelblue;
  }
}
