.nav {
  padding: 0;
  ul {
    display: flex;
    align-items: baseline;
  }
}
.container {
  .nav {
    padding-top: 0;
    background-color: white;
    color: black;
  }

  .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }

  .cancelled {
    text-decoration: line-through;
  }
  
  .blink {
    animation: blink-animation 3s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {

    50% {
      opacity: 0.5;
      color: salmon;
    }
    100% {
      color: red;
    }
  }
}