@import './colors.scss';

html, body {
  height: 100%;
  margin: 0;
}

.btn.prime {
  background-color: $prime;
  color: $white-grey;
}

.btn.secondary {
  background-color: $grey;
  color: $light-grey;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
