@import '../../colors.scss';

::deep .mat-dialog-content {
  margin: 0 auto;
}

.loginbtn {
  margin: 1em;
  outline: none;
  width: 12em;
  border: 1px solid $prime;
  border-radius: 3px;
  cursor: pointer;
  background-color: $white-grey;
  display: flex;
  align-items: center;
  color: $prime;
  font-weight: bold;
  img {
    max-width: 2em;
    max-height: 2em;
    object-fit: contain;
    margin-right: 1.5em;
  }
}